<!-- Intro -->
<div class="container text-center">
  <br> <br>
  <h2 class="thin">Le toit des aînés est un concept à taille humaine où chacun est important :</h2>
  <p class="text-muted">
    <br>
    <br>
    Il est essentiel que chacun
    garde la maîtrise de sa vie. Les choix de chacun sont respectés et accompagnés.
  </p>
</div>


<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class=card-img src="../assets/bankimg/gouvernantecarousel1.jpg">
    </div>
    <div class="carousel-caption">
      <h1>Par une gouvernante formée et qualifiée.</h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class=card-img src="../assets/bankimg/gouvernantecarousel2.jpg">
    </div>
    <div class="carousel-caption">
      <h1>Par la prévention de la perte d’autonomie.</h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class=card-img src="../assets/bankimg/gouvernantecarousel1.jpg">
    </div>
    <div class="carousel-caption">
      <h1>Par un accompagnement réellement individualisé .</h1>
    </div>
  </ng-template>


</ngb-carousel>

