<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
  <div class="container col-lg-4 col-md-4 col-sm-12 ">

    <div class="card">
      <div class="card-header" style="text-align: center"><h3>Ajouter un employé :</h3></div>
    </div>
    <br>
    <br>


    <form #f="ngForm" [formGroup]="forms" (ngSubmit)="save()">
      <br>

      <div class="container text-center">
        <div class="form-group">
          <label class="control-label"> Nom:</label>
          <input class="form-control input-md"
                 type="text"
                 name="nom"
                 formControlName="nom">
         <!--        [(ngModel)]="model.nom" > -->
        </div>


        <div class="form-group">
          <label  class="control-label"> Prenom</label>
          <input  class="form-control"
                  type="text"
                  name="prenom"
                  formControlName="prenom" >
          <!--        [(ngModel)]="model.prenom" > -->
      </div>

      <div class="form-group">
        <label class="control-label" >Salaire</label>
        <input class="form-control"
               required
               name="salaire"
               type="number" formControlName="salaire"/>

      </div>
      <div class="form-group">
        <label  class="control-label">Heure</label>
        <input class="form-control input-md"
               type="number"
               name="heure"
               formControlName="heure"
               required />
           <!--    [(ngModel)]="model.heure" -->


      </div>
      <div class="form-group">
        <label class="control-label">Téléphone</label>
        <input class="form-control"
               required
               name="tel"
               formControlName="tel"
               type="text"/>

      </div>
      <div class="form-group">
        <label class="control-label" >Adresse Mail</label>
        <input class="form-control"
               required
               name="mail"
               formControlName="mail"
               type="email"/>

      </div>
      <div class="form-group">
        <label class="control-label">Profession</label>
        <input class="form-control" id="profession"
               required
               name="profession"
               formControlName="profession" type="text"/>

      </div>
      <div class="form-group">
        <h2>Droit à l'image</h2>
        <label class="btn btn-cyan btn-rounded active form-check-label">
          <input class="form-check-label" type="radio" checked autocomplete="off"
                formControlName="droitimg" name="droitimg" [value]=true> Oui
          <i class="fa fa-check"></i>
        </label>

        <label class="btn btn-cyan btn-rounded form-check-label">
          <input class="form-check-label" type="radio" autocomplete="off"
                formControlName="droitimg" name="droitimg" [value]=false> Non
          <i class="fa fa-times"></i>
        </label>


      </div>


      <button type="submit" class="btn btn-success">Créer</button>

    </div>
  </form>


</div>


</div>


