<!--
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="well-block">
        <div class="well-title">


          <div class="card">
            <div class="card-header" style="text-align: center"><h3>Simulation :</h3></div>
          </div>

          <div class="card-body">
            <form #apaForm="ngForm" (ngSubmit)="calcul()">
              <br>


              <div class="form-group">
                <div class="text-center">
                  <label for="jir">Veuillez indiquer votre <b>GIR</b></label>
                </div>

                <div class="row justify-content-md-center">
                  <select class="form-control" id="jir" required
                          [(ngModel)]="model.gir" name="gir">
                    <option *ngFor="let g of girs" [value]="g">
                      {{g}}
                    </option>
                  </select>
                </div>




                <div class="form-check">
                  <div class="text-center">
                    <p>Sources de revenus:</p>
                  </div>
                  <input class="form-check-input col-md-3" type="checkbox" name="isAlone" [(ngModel)]="model.isAlone" [value]="true"
                         id="defaultCheck1">
                  <label class="form-check-label col-md-3" for="defaultCheck1">
                    Célibataire
                  </label>
                  <input class="form-check-input col-md-3" type="checkbox" name="isAlone" [(ngModel)]="model.isAlone" [value]="false"
                         id="defaultCheck">
                  <label class="form-check-label col-md-3" for="defaultCheck">
                    Couple
                  </label>
                </div>

                <div class="col-md-3">
                  <div class="form-group">

                    <label class="control-label">Revenus mensuels</label>
                    <input class="form-control"
                           type="number"
                           name="revenus"
                           [(ngModel)]="model.revenus"
                           required minlength="2">
                  </div>
                </div>
                <br>
                <div class="col-md-12" align="right">
                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-primary" [disabled]="forms.invalid">Valider
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>-->


<div class="container">

  <h1>Simulateur</h1>
  <form (ngSubmit)="calcul()" #heroForm="ngForm">
    <div class="form-group">
      <label>Situation</label>
      <input type="radio" class="form-control"
             [(ngModel)]="model.alone" name="isAlone" [value]=true> Celibataire<br>
      <input type="radio" class="form-control"
             [(ngModel)]="model.alone" name="isAlone"  [value]=false >Couple
    </div>

    <div class="form-group">
      <label for="revenus">Revenus</label>
      <input type="number" class="form-control" id="revenus"
             [(ngModel)]="model.revenus" name="revenus">
    </div>

    <div class="form-group">
      <label for="power">GIR</label>
      <select class="form-control" id="power"
              required
              [(ngModel)]="model.gir" name="power"
              #power="ngModel">
        <option *ngFor="let g of girs" [value]="g">{{g}}</option>
      </select>
      <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
        Un GIR est nécessaire pour la simulation.
      </div>
    </div>

    <button type="submit" [hidden]="submitted" class="btn btn-success" [disabled]="!heroForm.form.valid">Simulation</button>
  </form>
</div>
<div class="container">
<div class="card">
<div class="card-header " [hidden]="!submitted">
  <h1>Votre estimation : </h1>
  <div class="card-body">
    <div >Aide de l'Etat</div>
    <div >{{ model.plafondGIR}}</div>
  </div>
  <div class="card-body">
    <div >Estimation participation aux vues de vos revenus : </div>
    <div >{{ model.estimation }}</div>
  </div>
  <div class="card-body">
    <div >Aide : </div>
    <div >{{(model.plafondGIR)-(model.estimation)}} </div>
  </div>
  <br>
</div>
</div>
</div>

