.container {
  max-width: 960px;
}

h1 {
  color: #d20034;
}

h2 {
  color: #b49c76;
}

h3 {
  color: #f9990f
}

/* Header */
#head {
  background: #181015 url(../assets/bankimg/tda.png) no-repeat;
  background-size: cover;
  min-height: 520px;
  text-align: center;
  padding-top: 240px;
  color: white;
  font-family: "Open sans", Helvetica, Arial;
  font-weight: 300;
}

#head.secondary {
  height: 100px;
  min-height: 100px;
  padding-top: 0px;
}

#head .lead {
  font-family: "Open sans", Helvetica, Arial;
  font-size: 44px;
  margin-bottom: 6px;
  margin-left: 10%;
  line-height: 1.15em;
  text-align: center
}

#head .tagline {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 25px;
}

#head .tagline a {
  color: #fff;
}

#head .btn {
  margin-bottom: 10px;
}

#head .btn-default {
  text-shadow: none;
  background: transparent;
  color: #5a3d3e;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(90, 61, 62, .5);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(90, 61, 62, .5);
  box-shadow: inset 0px 0px 0px 3px rgba(90, 61, 62, .5);
}

#head .btn-default:hover,
#head .btn-default:focus {
  color: rgba(255, 255, 255, .8);
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
  box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
  background: transparent;
}

#head .btn-default:active,
#head .btn-default.active {
  color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
  -moz-box-shadow: inset 0px 0px 0px 3px #fff;
  box-shadow: inset 0px 0px 0px 3px #fff;
  background: transparent;
}
#head .btn-lg{
  margin-right: 30px;
}





