<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"  *ngIf="!this.isAuth"><span class="icon-bar"><a class="nav-link" (click)="onLogin()">Login</a></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"  *ngIf="this.isAuth"><span class="icon-bar"><a class="nav-link" (click)="onLogout()">Logout</a></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

      <a class="navbar-brand" href="index.html" routerLink="home"><img src="../../assets/bankimg/LogoTDA.png" alt="Logo"></a>
    </div>
  </div>
</div>
<!-- /.navbar -->

<!-- Header -->
<header id="head">
  <div class="container">
    <div class="row">
      <h1 class="lead">UNE ALTERNATIVE A L'EHPAD</h1>
      <h2>

        <!--       <a class="btn btn-default btn-lg" role="button">PLUS D'INFORMATIONS</a> -->
       <!--    <a class="btn btn-default btn-lg" role="button" routerLink="simulator">SIMULATEUR</a>  -->
          <a class="btn btn-default btn-lg" role="button" routerLink="admin" *ngIf="this.isAuth">
          Admin</a>
          <a class="btn btn-default btn-lg" (click)="ManagedAccount()" *ngIf="this.isAuth">Modif Compte</a>



         </h2>
    </div>
  </div>
</header>



<router-outlet></router-outlet>


