<div class="container " *ngIf="this.isAuth2" >
  <h1>Nouveau Client</h1>
  <form [formGroup]="forms" (ngSubmit)="submit()">

    <div class="form-group">
      <label class="control-label">Nom</label>
      <input type="text"
             class="form-control input-md"
             name="nom"
             formControlName="nom">
    </div>

    <div class="form-group">
      <label class="control-label">Prenom</label>
      <input type="text"
             class="form-control input-md"
             name="prenom"
             formControlName="prenom">
    </div>

    <div class="form-group">
      <label class="control-label">Telephone</label>
      <input type="tel"
             class="form-control input-md"
             name="telephone"
             formControlName="telephone">
    </div>

    <div class="form-group">
      <label class="control-label">Referent (Format : (Nom/Prenom) + (Lien Client) )  </label>
      <input type="text"
             class="form-control input-md"
             name="referent"
             formControlName="referent">
    </div>
    <div class="form-group">
      <label class="control-label">Numéro de Téléphone du réferent</label>
      <input type="tel"
             class="form-control input-md"
             name="referent_tel"
             formControlName="referent_tel">
    </div>

    <div class="form-group">
      <label class="control-label">Medecin Traitant</label>
      <select class="form-control"
              name="medecinTraitant"
              formControlName="medecinTraitant" required >
        <option *ngFor="let medecin of medecins; let i = index"
                [ngValue]="medecins[i].id" >{{medecin.nom}}</option>
      </select>
    </div>



    <button type="submit" class="btn btn-success">Créer</button>


  </form>

</div>
