<!-- Intro -->
<div class="container text-center">
  <br> <br>
  <h2 class="thin">Le cœur du concept du toit des aînés est l’humain :</h2>
  <p class="text-muted">
    <br>
    <br>
    La maison en colocation  se veut un lieu de convivialité ou chacun peut
    compter sur l’autre dans le cadre de règles pré définies dans la charte de la colocation.

  </p>
</div>


<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class=card-img src="../assets/bankimg/carouselsolidarité1.jpeg">
    </div>
    <div class="carousel-caption">
      <p>Ne plus jamais être seul. La gouvernante sera particulièrement
        formée à la prévention de l’isolement.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class=card-img src="../assets/bankimg/carouselsolidarité2.jpg">
    </div>
    <div class="carousel-caption">
      <p>Pouvoir compter sur sa famille : conservation et même renforcement du lien familial.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class=card-img src="../assets/bankimg/carouselsolidarité3.jpeg">
    </div>
    <div class="carousel-caption">
      <p>Une vie sociale riche et inscrite dans le réseau de la cité.</p>
    </div>
  </ng-template>


</ngb-carousel>

