<!-- Intro -->
<div class="container text-center">
  <br> <br>
  <h2 class="thin">Votre sécurité est notre priorité :</h2>
  <p class="text-muted">
    <br>
      <br>
    Tout en préservant un lieu de vie agréable et fonctionnel,
    Le toit des ainés propose des locaux adaptés aux capacités des
    personnes afin de prévenir tous les risques en particulier le risque de chute.
  </p>
</div>


<ngb-carousel
[interval]="2000">
  <ng-template ngbSlide>
    <div class="carousel">
      <img class=card-img src="../assets/bankimg/caroussel1.png">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel">
      <img class=card-img src="../assets/bankimg/caroussel2.png">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel">
      <img class=card-img src="../assets/bankimg/caroussel3.png">
    </div>
  </ng-template>


</ngb-carousel>


