<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<body>
<div class="text-danger container text-center container-xl" *ngIf="errorMessage">
  <h1 >Vous n'êtes pas autorisé a accéder a cette page. </h1>
</div>
<div *ngIf="this.isAuth2">
  <div  *ngIf="errorMessage == null">

  <div class="row p-2 bd-highlight calendarmain">



    <div class="calendar">
      <div class="calendar card-body  col-3" >
        <iframe src="https://calendar.google.com/calendar/embed?height=250&amp;wkst=1&amp;bgcolor=%23D50000&amp;ctz=Europe%2FParis&amp;src=cDYxcWxkamV2NDBqaHFldHNoZDFuYmV1aGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23009688&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0"
                style="border:solid 1px #777" width="450" height="250" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>


    <div class="col-md-4">
      <h1>CLIENTS:</h1>
      <div *ngFor="let client of clients" >
      <div class="card profile-card-3">
        <div class="background-block">
          <img src="../../assets/bankimg/TDA3.png" alt="profile-sample1" class="background"/>
        </div>
        <div class="profile-thumb-block" *ngIf= "this.client.photo == null">
          <img src="../../assets/bankimg/Logo%20OPPL.jpg" alt="profile-image" class="profile"/>
        </div>
        <div class="card-content">
          <h2>{{client.nom}} {{client.prenom}}<small>Personne à contacter : {{client.referent}}
           <b> [{{client.referent_tel}}]</b></small></h2>
        </div>

        <button class="btn btn-danger btn-mini align-content-center" (click)="deleteIt(client.id)"  ><i class="icon-remove"></i></button>

      </div>
    </div>

  </div>
    <div class="col-md-4">
      <h1>INTERVENANTS:</h1>
      <table class="table table-responsive">
        <table class="table table-hover table-condensed table-striped">
          <thead class="borrow">
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Tel</th>
            <th>Mail</th>
            <th>Profession</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let intervenant of inters">
              <td>{{intervenant.nom}}</td>
              <td>{{intervenant.prenom}}</td>
              <td>{{intervenant.tel}}</td>
              <td>{{intervenant.mail}}</td>
              <td>{{intervenant.profession}}</td>
              <td>
                <button class="btn btn-danger btn-mini align-content-center"
                        (click)="deleteInter(intervenant.id)"  >
                  <i class="icon-remove"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </table>
    </div>


<div>
  <a class="btn btn-link" role="button" routerLink="new-client">Ajouter un client</a>
  <a class="btn btn-link" role="button" routerLink="employees">Listes Employés</a>
  <a class="btn btn-link" role="button" routerLink="new-medecin">Nouveau Medecin traitant</a>
  <a class="btn btn-link" role="button" routerLink="new-intervenant">Nouvel intervenant</a>
</div>
</div>
</div>
</div>
</body>
