<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="home">
<!-- /Header -->

<!-- Intro -->
<div class="container text-center">
  <br> <br>
  <h2 class="thin">UNE SOLUTION HUMAINES</h2>
  <p class="text-muted">
    Vos rythmes naturels sont respectés. Ainsi par exemple les levers/couchers et les
    repas se font à heure normale, selon vos habitudes.
  </p>
</div>
<!-- /Intro-->

<!-- Highlights - jumbotron -->
<div class="jumbotron top-space">
  <div class="container">

    <h3 class="text-center thin">Raisons de nous rejoindre</h3>




    <div class="row">
      <div class="col-md-4 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="fa fa-lock fa-5"></i>
         <button type="button" class="btn btn-outline-warning  btn-lg">Sécurité</button>
        </h4></div>
        <div class="h-body text-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquid adipisci aspernatur. Soluta quisquam dignissimos earum quasi voluptate. Amet, dignissimos, tenetur vitae dolor quam iusto assumenda hic reprehenderit?</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="fa fa-heart-o fa-5"></i>
          <button type="button" class="btn btn-outline-warning btn-lg">Solidarité</button>
        </h4></div>
        <div class="h-body text-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi, sequi quis ad fugit omnis cumque a libero error nesciunt molestiae repellat quos perferendis numquam quibusdam rerum repellendus laboriosam reprehenderit! </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="fa fa-user-md fa-5"></i>
          <button type="button" class="btn btn-outline-warning btn-lg" role="button">Accompagnement personnalisé</button>
        </h4></div>
        <div class="h-body text-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, vitae, perferendis, perspiciatis nobis voluptate quod illum soluta minima ipsam ratione quia numquam eveniet eum reprehenderit dolorem dicta nesciunt corporis?</p>
        </div>

      </div>
    </div> <!-- /row  -->

  </div>
</div>
<!-- /Highlights -->

<!-- container -->
<div class="container">

  <h2 class="text-center top-space">Questions fréquentes</h2>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <h3>Papi est incontinent, comment faire ?</h3>
      <p>Démerde toi</p>
    </div>
    <div class="col-sm-6">
      <h3>Bonjour je m'appelle Thomas et je suis un gros nullos, je fais comment ?</h3>
      <p>
        Aucune solution désolé .. <a href="" routerLink="simulator">LIEN SIMULATEUR</a> </div>
  </div> <!-- /row -->

  <div class="row">
    <div class="col-sm-6">
      <h3>A quelle aide ai-je droit ?</h3>
      <p>
        orem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquid adipisci aspernatur. Soluta quisquam dignissimos earum quasi voluptate. Amet, dignissimos, tenetur vitae dolor quam iusto assumenda hic reprehenderit?   </p>
    </div>
    <div class="col-sm-6">
      <h3>Y a Netflix a la maison ?</h3>
      <p>orem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquid adipisci aspernatur. Soluta quisquam dignissimos earum quasi voluptate. Amet, dignissimos, tenetur vitae dolor quam iusto assumenda hic reprehenderit?</p>   </div>
  </div> <!-- /row -->

  <div class="jumbotron top-space">
    <h4>Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.</h4>
    <p class="text-right"><a class="btn btn-primary btn-large">En Savoir Plus »</a></p>
  </div>

</div>	<!-- /container -->

<!-- Social links. @TODO: replace by link/instructions in template -->
<section id="social">
  <div class="container">
    <div class="wrapper clearfix">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_linkedin_counter"></a>
      </div>
      <!-- AddThis Button END -->
    </div>
  </div>
</section>
<!-- /social links -->


<footer id="footer" class="top-space">

  <div class="footer1">
    <div class="container">
      <div class="row">

        <div class="col-md-3 widget">
          <h3 class="widget-title">Contact</h3>
          <div class="widget-body">
            <p>123456789<br>
              <a href="mailto:#">tdamail@truc.com</a><br>
              <br>
             Juillan , demande a papa
            </p>
          </div>
        </div>

        <div class="col-md-3 widget">
        </div>

        <div class="col-md-6 widget">
          <h3 class="widget-title">place libre</h3>
          <div class="widget-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
            <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

  <div class="footer2">
    <div class="container">
      <div class="row">

        <div class="col-md-6 widget">

        </div>

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              Copyright &copy; 2020, DA SILVA NICOLAS
            </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

</footer>

</body>
