<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="home">
<!-- /Header -->

<!-- Intro -->
<div class="container text-center">
  <br> <br>
  <h2 class="thin">UNE SOLUTION HUMAINE</h2>
  <p class="text-muted">
    Vos rythmes naturels sont respectés. Ainsi par exemple les levers/couchers et les
    repas se font à heure normale, selon vos habitudes.
  </p>
</div>
<!-- /Intro-->

<!-- Highlights - jumbotron -->
<div class="jumbotron top-space">
  <div class="container">

    <h3 class="text-center thin">Raisons de nous rejoindre</h3>




    <div class="row">
      <div class="col-md-4 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="fa fa-lock fa-5"></i>
        <a routerLink="securite"> <button type="button" class="btn btn-outline-warning  btn-lg" >Sécurité</button></a>
        </h4></div>
        <div class="h-body text-center">
          <p>Tout en préservant un lieu de vie agréable et fonctionnel, Le toit des ainés propose des locaux adaptés aux capacités des personnes
            afin de prévenir tous les risques en particulier le risque de chute.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="fa fa-heart-o fa-5"></i>
          <a routerLink="solidarite">    <button type="button" class="btn btn-outline-warning btn-lg">Solidarité</button> </a>
        </h4></div>
        <div class="h-body text-center">
          <p>La maison en colocation  se veut un lieu de convivialité ou chacun peut compter sur l’autre dans le cadre de règles pré définies dans la charte de la colocation. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="fa fa-user-md fa-5"></i>
          <a routerLink="accompagnement">      <button type="button" class="btn btn-outline-warning btn-lg" role="button">Accompagnement personnalisé</button> </a>
        </h4></div>
        <div class="h-body text-center">
          <p>Il est essentiel que chacun garde la maitrise de sa vie. Les choix de chacun sont respectés et accompagnés</p>
        </div>

      </div>
    </div> <!-- /row  -->

  </div>
</div>
<!-- /Highlights -->

<!-- container -->
<div class="container">

  <h2 class="text-center top-space">Questions fréquentes</h2>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <h3>Faut-il être autonome pour intégrer une maison du toit des ainés?</h3>
      <p>Pas forcément chaque situation étant unique une première rencontre permet d’établir la faisabilité du projet.
        Le toit des aînés a pour objectif de vous accompagner pour vous permettre de choisir la solution la plus adaptée à votre profil.</p>

    </div>
    <div class="col-sm-6">
      <h3>Quel est le coût?</h3>
      <p>
        Le coût est variable selon votre situation : âge, caisse de retraite, GIR…
        Un simulateur des aides est accessible ici : <a href="" routerLink="simulator">Accéder au simulateur</a>.
        Quel que soit votre situation le coût est toujours inférieur à celui d’un EHPAD.
    </div>
  </div>

 <div class="row">
    <div class="col-sm-6">
      <h3>Que se passe-t-il si je souhaite me rétracter?</h3>
      <p>
        Il vous est possible de quitter la maison lorsque vous le souhaitez en respectant les délais légaux.
        Le toit des ainés est particulièrement attentif à votre confort de vie. Votre choix est le nôtre.
      </p>
    </div>
    <div class="col-sm-6">
      <h3>Mes proches peuvent-ils venir me voir?</h3>
      <p>Oui bien sûr.
        Il est simplement demandé de respecter les autres colocataires.
      </p>   </div>
  </div>



</div>	<!-- /container -->

<section id="social">
  <div class="container">
    <div class="wrapper clearfix">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_linkedin_counter"></a>
      </div>
      <!-- AddThis Button END -->
    </div>
  </div>
</section>
<!-- /social links -->


<footer id="footer" class="top-space">

  <div class="footer1">
    <div class="container">
      <div class="row">

        <div class="col-md-3 widget">
          <h3 class="widget-title">Contact</h3>
          <div class="widget-body">
            <p>07.82.06.24.07<br>
              <a href="mailto:#">tdamail@gmail.com</a><br>
              <br>8 Place de la Pujolle,
             Juillan 65290
            </p>
          </div>
        </div>

        <div class="col-md-3 widget">
        </div>

        <div class="col-md-6 widget">
          <h3 class="widget-title"></h3>
          <div class="widget-body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2908.382983753659!2d0.02410421548315108!3d43.20145587913941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a9d5105839fa09%3A0x5ea97c29a7c98c0e!2s8%20Place%20de%20la%20Pujolle%2C%2065290%20Juillan!5e0!3m2!1sfr!2sfr!4v1594477862399!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

  <div class="footer2">
    <div class="container">
      <div class="row">

        <div class="col-md-6 widget">

        </div>

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              Copyright &copy; 2020, DA SILVA NICOLAS
            </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

</footer>

</body>
