<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-8">
   </div>

  <div class="card-deck">
    <div class="card"  *ngFor="let employee of employees">
      <img class="card-img-top" src="../../assets/bankimg/legoAlt.jpg" alt="Company logo">
      <div class="card-body">
        <h5 class="card-title">{{employee.nom}} {{employee.prenom}}</h5>
        <ul class="list-group">
          <li class="list-group-item list-group-item-success"><i class="fa fa-user"style="font-size:20px;"></i>   Profession : {{employee.profession}}</li>
          <li class="list-group-item list-group-item-success"><i class="fa fa-clock-o"style="font-size:20px;"></i>  Heure : {{employee.heure}}</li>
          <li class="list-group-item list-group-item-success"><i class="fa fa-money"style="font-size:20px;"></i>   Salaire : {{employee.salaire}}</li>
        </ul>

      </div>
    </div>
  </div>
  <div class="sep"></div>


  <div class="col-lg4 col-md-4 col-sm-2">
    <br>

    <a class="btn-lg btn-dark" role="button" routerLink="new-employee">Ajouter un employé</a>
  </div>

</div>


